@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .footer-distributed .footer-right {
    font-size: 20px;
  }
}
